/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 30.85938%;
}

@media (max-width: 1134.17722px) {
  .camera_container {
    padding-bottom: 350px;
  }
}
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}

.camera_wrap img {
  max-width: none !important;
}

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.camera_src {
  display: none;
}

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}

.camera_loader {
  background: #fff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}

.camerarelative {
  overflow: hidden;
  position: relative;
}

.imgFake {
  cursor: pointer;
}

.camera_command_wrap .hideNav {
  display: none;
}

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}

.showIt {
  display: none;
}

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}

.camera_caption {
  display: none;
}

.cameraContent .camera_caption {
  display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.camera_caption > div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-66%);
  -ms-transform: translateY(-66%);
  -o-transform: translateY(-66%);
  -webkit-transform: translateY(-66%);
  transform: translateY(-66%);
}

.camera_caption h2 {
	font-size: 20px;
	text-transform:uppercase;
	line-height:20px;
	text-align:left !important;
	font-weight:bold;
	color:#658424; /* #5f7630	;*/
}

.btnC_C {
	display: inline-block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	background:#434547;
	color:#fff;
	margin:10px 0;
}

.btnC_C:hover {
	background:#83ad29;
	color:#434547;

}

.camera_caption .container:before, .camera_caption .container:after {
  display: table;
  content: "";
  line-height: 0;
}
.camera_caption .container:after {
  clear: both;
}
.camera_caption [class*="grid_"] {
  width: 290px;
  float: left;
  /*font-size: 56px;*/
  line-height: 18px;
  text-align:justify;
  color: #434547;/*#4B99BA;*//*#5ab7de;*/
  background-color: rgba(248, 248, 248, 0.8);
  padding:15px;

}
@media (max-width: 1399px) {
  .camera_caption .row {
    margin-left: 0;
  }
  .camera_caption [class*="grid_"] {
    margin: 0;
    /*width: 100%;*/
    text-align: center;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .camera_caption > div {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .camera_caption [class*="grid_"] {
    font-size: 20px;
    line-height: 20px;
    padding: 0 20px;
  }
  
  .camera_caption [class*="grid_"] {
  width: 80%;
  margin:0 auto !important;
  /*font-size: 56px;*/
  line-height: 18px;
  text-align:justify;
  color: #434547;/*#4B99BA;*//*#5ab7de;*/
  background-color: rgba(248, 248, 248, 0.6);
  padding:15px;

}
   .camera_next,
.camera_prev {
  position: absolute;
  top: 50%;
  font-family: "FontAwesome";
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  background-color:#434547;
  line-height:20px;
  width:20px;
  text-align:center;
 
}
}
@media (max-width: 479px) {
  .camera_caption [class*="grid_"] {
    font-size: 14px;
    line-height: 14px;
    padding:10px;
	margin-left:5%;
	width:88%;
  }
 .camera_next,
.camera_prev {
  position: absolute;
  top: 50%;
  font-family: "FontAwesome";
  font-size: 20px !important;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  background-color:#434547;
  line-height:20px !important;
  width:20px !important;
  text-align:center;
 
}
}

.camera_pag_ul {
  text-align: center;
}
.camera_pag_ul li {
  display: inline-block;
  width: 8px;
  height: 8px;
  line-height: 8px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #888;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
  background: #333;
}
.camera_pag_ul li + li {
  margin-left: 4px;
}
.camera_pag_ul li > span {
  display: none;
}

.camera_next,
.camera_prev {
  position: absolute;
  top: 50%;
  font-family: "FontAwesome";
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  background-color:#434547;
  line-height:70px;
  width:70px;
  text-align:center;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.camera_next:hover,
.camera_prev:hover {
  color: #888;
}

.camera_next {
  right: 132px;
}
.camera_next:before {
  content: "\f105";
}

.camera_prev {
  left: 132px;
}
.camera_prev:before {
  content: "\f104";
}

@media (max-width: 1399px) {
  .camera_next {
    right: 20px;
  }

  .camera_prev {
    left: 20px;
  }
}
