@media (min-width: 768px) {
    #nvbdb {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
}.nvbdb-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 12px 8px;
}
.nvbdb-default {
    background-color: white;
    border-color: #f5f5f5;
}
.nvbdb-default .nvbdb-brand {
    overflow: hidden;
    padding: 0;
}
@media (min-width: 768px) {
    .nvbdb-default .nvbdb-brand {
    height: 80px;
    padding-top: 10px;
}
}.nvbdb-default .nvbdb-brand img {
    height: 50px;
    margin-top: 4px;
}
@media (min-width: 768px) {
    .nvbdb-default .nvbdb-brand img {
    height: 65px;
    margin-top: 10px;
}
}@media (min-width: 992px) {
    .nvbdb-default .nvbdb-brand img {
    height: 80px;
    margin-top: 0;
}
}.nvbdb-default .nvbdb-nav {
    margin: 0 -15px;
}
@media (min-width: 768px) {
    .nvbdb-default .nvbdb-nav>li+li {
    margin-left: 5px;
}
}.nvbdb-default .nvbdb-nav>li>a {
    text-align: left;
}
@media (min-width: 768px) {
    .nvbdb-default .nvbdb-nav>li>a {
    height: 80px;
    padding: 11px 5px;
    text-align: center;
    width: 40px;
}
}.nvbdb-default .nvbdb-nav>li>a>i {
    float: left;
    font-size: 1.4em;
    margin-right: 15px;
    text-align: center;
    width: 30px;
}
@media (min-width: 768px) {
    .nvbdb-default .nvbdb-nav>li>a>i {
    display: block;
    font-size: 3em;
    margin-right: 0;
    width: 100%}
}.nvbdb-default .nvbdb-nav>li.nv-gris>a {
    background-color: #3e3433;
    color: #f5f5f5;
}
@media (min-width: 768px) {
    .nvbdb-default .nvbdb-nav>li.nv-gris>a {
    width: 90px;
}
}.nvbdb-default .nvbdb-nav>li.nv-gris.active>a, .nvbdb-default .nvbdb-nav>li.nv-gris a:focus, .nvbdb-default .nvbdb-nav>li.nv-gris a:hover {
    background-color: #f5f5f5;
    color: #3e3433;
}
@media (min-width: 768px) {
    .nvbdb-default .nvbdb-nav>li.nv-blue>a {
    padding: 5px;
    width: auto;
}
.nvbdb-default .nvbdb-nav>li.nv-blue>a>img {
    float: left;
    height: 70px;
    width: auto;
}
.nvbdb-default .nvbdb-nav>li.nv-blue>a>span {
    display: block;
    padding-top: 5px;
}
.nvbdb-default .nvbdb-nav>li.nv-blue>a>span>span.ttext1, .nvbdb-default .nvbdb-nav>li.nv-blue>a>span>span.ttext2 {
    color: #3e3433;
    display: block;
    font-weight: 500;
    line-height: 1.3em;
}
.nvbdb-default .nvbdb-nav>li.nv-blue>a>span>span.ttext2 {
    margin-bottom: 6px;
}
.nvbdb-default .nvbdb-nav>li.nv-blue>a>span>span.ntel {
    color: white;
    font-size: 19px;
    font-weight: 500;
}
}@media (min-width: 992px) {
    .nvbdb-default .nvbdb-nav>li.nv-blue>a {
    padding: 5px;
    width: 230px;
}
}.nvbdb-default .nvbdb-toggle {
    background-color: #3e3433;
    border-color: transparent;
}
.nvbdb-default .nvbdb-toggle .icon-bar {
    background-color: #f5f5f5;
}
.nvbdb-default .nvbdb-toggle:hover, .nvbdb-default .nvbdb-toggle:focus, .nvbdb-default .nvbdb-toggle[aria-expanded="true"] {
    background-color: #f5f5f5;
}
.nvbdb-default .nvbdb-toggle:hover .icon-bar, .nvbdb-default .nvbdb-toggle:focus .icon-bar, .nvbdb-default .nvbdb-toggle[aria-expanded="true"] .icon-bar {
background-color: #3e3433;}