input[type='radio']:checked ~ .info {
  height: 120px;
  transition: 0.3s ease-in;
}

.tarifs .prestation div {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  font-size: ;
}

.tarifs .prestation .tarif .row {
  justify-content: center;
  display: flex;
  align-items: ;
  margin-top: 12px;
  margin-bottom: -24px;
  height: auto;
}

input[type='radio'] {
  width: 100%;
  display: none;
}

.tarif-prix input[type='radio'] {
  display: inline;
}

section.tarifs > section.prestation > section.tarif .tarif-denom {
  background: rgba(255, 255, 255, 0) !important;
  padding-bottom: 10px;
}

.tarif-prixht {
  font-size: 30px;
  color: #81A436;
  margin-top: 8%;
  margin-left: 25px;
  padding-left: 18px;
}

section.tarif .tarif-prixht {
  font-size: 21px !important;
}

.info {
  color: #222;
  margin-left: 5px;
  width: auto;
  height: 68px;
  line-height: 1;
  padding-left: 15px;
  color: #AEAEA3;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

section.tarifs > section.prestation {
  margin-bottom: 15px;
  margin-left: 16px;
}

.f-c-orange {
  margin-left: 23px;
}

.bouton_suivant {
  margin-top: 5px;
  background-color: #83AD29;
  height: 54px !important;
  margin-top: 5px;
  width: 83px !important;
  margin-left: -10px;
  color: #FFFFFF;
  font-size: 19px;
  padding-left: 0;
  /*+placement: -1px 2px;*/
  position: relative;
  left: -1px;
  top: 2px;
  border: 1px solid rgba(242, 207, 207, 0) !important;
  border-radius: 2px !important;
}

.bouton_suivant:hover {
  background-color: #81A436;
}

h3.tarif-titre {
  padding-bottom: 15px;
}

.secteur_bloc  {
  background-color: #F9F9F9;
  margin-bottom: 20px;
  padding: 30px;
}

.tarif-prix {
  padding-top: 8%;
}

@media (max-width: 768px) {
  section.tarifs section.prestation div {
    height: auto;
    padding-bottom: 9px;
  }
  
  section.tarif .col-lg-2.tarif-prixht {
    font-size: 20px !important;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  section.tarifs section.prestation div {
    height: auto;
    padding-bottom: 9px;
  }
  
  section.tarif .col-lg-2.tarif-prixht {
    font-size: 18px !important;
    padding: 10px;
    letter-spacing: -2px;
  }
}

div.grid_8 form#addrForm.mailform.off2 #myform {
}
