.bouton {
  margin-left: 5px;
  margin-top: 5px;
  background-color: #83AD29;
  padding: 5px;
  float: left;
  margin-top: 5px;
  margin-right: 2px;
  width: 113.7px !important;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  /* padding-left: 0; */
  left: -1px;
  top: 2px;
  border: 1px solid rgba(242, 207, 207, 0) !important;
  border-radius: 2px !important;
}

.bouton:hover {
  background-color: #81A436;
}
