.inpErr {
  position: absolute;
  color: white;
  margin-left: 0px !important;
  padding-left: 10px;
  background-color: #96ca2d;
  z-index: 2;
  display: none;
  top: 50px;
}

.inpErr .arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #96ca2d;
  position: absolute;
  z-index: 1;
  top: -13px;
}

select#select {
  display: block;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 14px 18px;
  line-height: 26px;
  color: #878787;
  background: #fff;
  border: none;
}

.btn {
    
}

