.camera_container.eligible
{
padding-bottom: 2px;
}
BODY UL#ui-id-1.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front
{
height: 200px;
overflow: auto;
overflow-x: hidden;
}
.camera_container.eligible .container
{
background-color: #96CA2D;
padding-top: 54px;
margin-bottom: 55px;
padding-bottom: 30px;
}
.eligible .container .row CENTER H1
{
color: #FFFFFF;
font-size: 34px;
margin-bottom: 18px;
padding-bottom: 0px;
}
.eligible .container CENTER FORM INPUT
{
height: 38px;
width: 179px;
border: 1px solid #FFFFFF;
border-radius: 5px;
margin-top: 0;
padding-left: 14px;
padding-right: 15px;
}
.eligible .bouton_eligible
{
background-color: #83AD29;
height: 54px !important;
width: 53px !important;
margin-left: -10px;
color: #FFFFFF;
font-size: 19px;
padding-left: 0;
/*+placement: -1px 2px;*/
position: relative;
left: -1px;
top: 2px;
border: 1px solid rgba(242, 207, 207, 0) !important;
border-radius: 2px !important;
}
.eligible .bouton_eligible:hover
{
background-color: #81A436;
}
