/*
==========================================

Step 1

==========================================	
*/
.camera_container.eligible {
  padding-bottom: 2px;
}

body ul#ui-id-1.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
}

.camera_container.eligible .container {
  background-color: #96CA2D;
  padding-top: 54px;
  margin-bottom: 55px;
  padding-bottom: 30px;
}

.eligible .container .row center h1 {
  color: #FFFFFF;
  font-size: 34px;
  margin-bottom: 18px;
  padding-bottom: 0px;
}

.eligible .container center form input {
  height: 38px;
  width: 179px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin-top: 0;
  padding-left: 14px;
  padding-right: 15px;
}

.eligible .bouton_eligible {
  background-color: #83AD29;
  height: 54px !important;
  width: 53px !important;
  margin-left: -10px;
  color: #FFFFFF;
  font-size: 19px;
  padding-left: 0;
  /*+placement: -1px 2px;*/
  position: relative;
  left: -1px;
  top: 2px;
  border: 1px solid rgba(242, 207, 207, 0) !important;
  border-radius: 2px !important;
}

.eligible .bouton_eligible:hover {
  background-color: #81A436;
}

/*
==========================================

Step 2

==========================================	
*/
.f-c-orange {
  margin-left: 23px;
}

#box {
  font: inherit;
  background-color: #F9F9F9;
  height: auto;
  padding-bottom: 35px;
  margin-bottom: 13px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(150, 202, 45);
}

#box img {
  height: auto;
  width: 100%;
  opacity: 0.3;
  /* Préfixes vendeurs 
  	-webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
  	-o-filter: blur(2px);
  	-ms-filter: blur(2px);
  	filter: blur(2px);*/
}

#box img:hover {
  opacity: 1;
  /* Préfixes vendeurs 
  	-webkit-filter: blur(0px);
  	-moz-filter: blur(0px);
  	-o-filter: blur(0px);
  	-ms-filter: blur(0px);
  	filter: blur(0px);*/
}

.btn {
  font: inherit;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF;
  background-color: rgba(0, 90, 100, 0.35);
}

.btn:hover {
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  background-color: #F5F5F5 !important;
  color: rgb(150, 202, 45) !important;
  /*ajout JL*/
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 90, 100, 0.35);
}

.center_prix {
  font-size: 23px;
  /*background: #666;*/
  position: absolute;
  text-align: center;
  padding: 13px;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  /*ajout JL*/
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF;
  background-color: rgba(0, 90, 100, 0.35);
}

.center_desc {
  font-size: 18px;
  padding: 0 10px;
  /*color: white;*/
}

.center_desc .titre {
  margin-top: 50px;
  text-align: center;
  /*padding-bottom: 5px;*/
  font-size: 120%;
}

#cadre_desc {
  height: 202px;
  /*168px*/
  background-color: #008B8B !important;
}

.center_desc .desc {
  text-align: left;
  width: 256px;
  text-justify: auto;
  font-size: 11px;
  height: auto;
  line-height: 1.5;
  margin-top: 16px;
}

section .container .col-lg-9 {
  display: flex;
  flex-wrap: wrap;
}

/*
==========================================

Step 3

==========================================	
*/
input[type='radio']:checked ~ .info {
  height: 120px;
  transition: 0.3s ease-in;
}

.tarifs .prestation div {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  font-size: ;
}

.tarifs .prestation .tarif .row {
  justify-content: center;
  display: flex;
  align-items: ;
  margin-top: 12px;
  margin-bottom: -24px;
  height: auto;
}

input[type='radio'] {
  width: 100%;
  display: none;
}

.tarif-prix input[type='radio'] {
  display: inline;
}

section.tarifs > section.prestation > section.tarif .tarif-denom {
  background: rgba(255, 255, 255, 0) !important;
  padding-bottom: 10px;
}

.tarif-prixht {
  font-size: 30px;
  color: #81A436;
  margin-top: 8%;
  margin-left: 25px;
  padding-left: 18px;
}

section.tarif .tarif-prixht {
  font-size: 21px !important;
}

.info {
  color: #222;
  margin-left: 5px;
  width: auto;
  height: 68px;
  line-height: 1;
  padding-left: 15px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  padding: 5px;
  color: #AEAEA3;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

section.tarifs > section.prestation {
  margin-bottom: 15px;
  margin-left: 16px;
}

.f-c-orange {
  margin-left: 23px;
}

.bouton_suivant {
  margin-top: 5px;
  background-color: #83AD29;
  height: 54px !important;
  margin-top: 5px;
  width: 83px !important;
  margin-left: -10px;
  color: #FFFFFF;
  font-size: 19px;
  padding-left: 0;
  /*+placement: -1px 2px;*/
  position: relative;
  left: -1px;
  top: 2px;
  border: 1px solid rgba(242, 207, 207, 0) !important;
  border-radius: 2px !important;
}

.bouton_suivant:hover {
  background-color: #81A436;
}

h3.tarif-titre {
  padding-bottom: 15px;
}

.secteur_bloc  {
  background-color: #F9F9F9;
  margin-bottom: 20px;
  padding: 30px;
}

.tarif-prix {
  padding-top: 8%;
}

@media (max-width: 768px) {
  section.tarifs section.prestation div {
    height: auto;
    padding-bottom: 9px;
  }
  
  section.tarif .col-lg-2.tarif-prixht {
    font-size: 20px !important;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  h3.tarif-titre {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  
  .tarif-prix {
    padding-top: 2%;
  }
  
  h3 {
    font-size: 14px !important;
  }
  
  h2 {
    padding-top: 20px !important;
  }
}

/*
==========================================

Step 4

==========================================	
*/
.inpErr {
  position: absolute;
  color: white;
  margin-left: 0px !important;
  padding-left: 10px;
  background-color: #96CA2D;
  z-index: 2;
  display: none;
  top: 50px;
}

.inpErr .arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #96CA2D;
  position: absolute;
  z-index: 1;
  top: -13px;
}

select#select {
  display: block;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 14px 18px;
  line-height: 26px;
  color: #878787;
  background: #FFF;
  border: none;
}

.btn {
}

/*
==========================================

Step 5 & 6

==========================================	
*/
.bouton {
  margin-left: 5px;
  margin-top: 5px;
  background-color: #83AD29;
  padding: 5px;
  float: left;
  margin-top: 5px;
  margin-right: 2px;
  width: 113.7px !important;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  /* padding-left: 0; */
  left: -1px;
  top: 2px;
  border: 1px solid rgba(242, 207, 207, 0) !important;
  border-radius: 2px !important;
}

.bouton:hover {
  background-color: #81A436;
}

@media (max-width: 1200px) {
  .bouton {
    margin-left: 5px;
    margin-top: 5px;
    background-color: #83AD29;
    padding: 0px;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
    width: 113.7px !important;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    left: -1px;
    border: 1px solid rgba(242, 207, 207, 0) !important;
    border-radius: 2px !important;
    height: 26px;
    /*+placement: -8px 10px;*/
    position: relative;
    left: -8px;
    top: 10px;
  }
  
  .bouton:hover {
    background-color: #81A436;
  }
}
