.f-c-orange {
  margin-left: 23px;
}

#box {
  font: inherit;
  background-color: rgb(150, 202, 45);
  height: auto;
  padding-bottom: 35px;
  margin-bottom: 13px;
}

#box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn {
  font: inherit;
}

.btn:hover {
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  background-color: white !important;
  color: rgb(150, 202, 45) !important;
}

.center_prix {
  font-size: 23px;
  background: #666;
  position: absolute;
  text-align: center;
  padding: 13px;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_desc {
  font-size: 18px;
  padding-left: 16px;
  color: white;
}

.center_desc .titre {
  margin-top: 53px;
  text-align: center;
  padding-bottom: 5px;
  font-size: 146%;
}

#cadre_desc {
  height: 168px;
}

.center_desc .desc {
  text-align: left;
  width: 256px;
  text-justify: auto;
  font-size: 11px;
  height: auto;
  line-height: 1.5;
  margin-top: 16px;
}

section .container .col-lg-9 {
  display: flex;
  flex-wrap: wrap;
}
