@charset "UTF-8";
@import url(animate.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);
/*========================================================
					  Main Styles
=========================================================*/
body {
  background: #F5F5F5;
  color: #56585A;
  font: 400 14px / 28px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #434547;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #62BFE6;
}
h1 {
  font-size: 38px;
  line-height: 42px;
}
h2 {
  font-size: 34px;
  line-height: 38px;
}
h3 {
  font-size: 24px;
  line-height: 38px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
p a:hover, .list a:hover {
  text-decoration: underline;
}
p .fa, .list .fa {
  text-decoration: none;
}
time {
  display: block;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}
a[href^="tel:"], a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: 700;
}
.fa {
  line-height: inherit;
}
[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome";
}
.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}
hr {
  border: none;
  width: 100%;
  height: 1px;
  background: #E5E5E5;
}
.hr {
  border-bottom: 3px solid #62BFE6;
}
@media (max-width: 767px) {
  .mobile-center {
    text-align: center;
  }
}
.mg-add {
  margin-top: 18px;
}
/*=======================================================
					   Main Layout
=========================================================*/
* + .btn {
  margin-top: 32px;
}
* + .row {
  margin-top: 18px;
}
* + .off1 {
  margin-top: 13px;
}
* + .off2 {
  margin-top: 24px;
}
* + .off3 {
  margin-top: 32px;
}
* + .off4 {
  margin-top: 4px;
}
.info-box + .owl-carousel {
  margin-top: 30px;
}
h2 + img {
  margin-top: 23px;
}
h2 + p {
  margin-top: 14px;
}
h3 + p {
  margin-top: 12px;
}
* + hr {
  margin-top: 40px;
}
.row + p {
  margin-top: 25px;
}
hr + * {
  margin-top: 40px;
}
img + p {
  margin-top: 22px;
}
img + h3 {
  margin-top: 20px;
}
.marked-list + .btn {
  margin-top: 17px;
}
.grid_2 img + img {
  margin-top: 30px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .grid_2 img + img {
    margin-top: 0;
    margin-left: 8%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .grid_2 img {
    width: 46%;
  }
}
.off2 + hr, .off2 + hr + .row {
  margin-top: 50px;
}
p + .btn_wr {
  margin-top: 33px;
}
/*=======================================================
						Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
}
.brand_name {
  display: inline-block;
  overflow: hidden;
  font-weight: 700;
  font-size: 55px;
  line-height: 62px;
  color: #5AB7DE;
  vertical-align: bottom;
}
/*------------ JL-----------*/
.brand_name img {
  max-width: 50%;
  height: auto;
}
/*-------------------------*/
.brand_slogan {
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 24px;
  vertical-align: bottom;
}
.brand a:hover {
  color: inherit;
}
/*==================  Backgrounds  ======================*/
.bg-primary {
  color: #FFF;
  background: #62BFE6;
}
.bg-primary h2 {
  color: #FFF;
}
.bg-primary .icon {
  color: #62BFE6;
  background: #FFF;
}
.bg-primary .product-list li .box:hover .icon {
  background: #FFF;
}
.bg-primary .product-list .icon {
  margin-top: 11px;
}
.bg-primary .product-list hr {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.1);
}
.bg-primary .product-list hr + .box {
  margin-top: 39px;
}
.bg-primary .product-list h3 + p {
  margin-top: 12px;
}
.bg-primary .product-list hr {
  border-bottom: 0;
}
.bg-primary .product-list h3 {
  color: #FFF;
}
.bg-secondary {
  background: #434547;
}
.bg-secondary2 {
  background: #F5F5F5;
}
.bg-image {
  background: url(../images/grease-trap_bg.jpg) center no-repeat;
  background-size: cover;
}
/* --------------------------------------------------------------------------*/
/* ----------------Ajout JL bg images by category -----------------*/
.bg-image-wc {
  background: url(../images/wc-bouche_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-waterleak {
  background: url(../images/water-leak_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-fuite-eau {
  background: url(../images/fuite-eau-robinet_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-hydrocurage {
  background: url(../images/hydrocurage_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-inspection-reseaux-ep-eu {
  background: url(../images/inspection-reseaux-ep-eu_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-inspection-canalisation-video-camera {
  background: url(../images/inspection-canalisation-video-camera_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-deboucher-plomberie {
  background: url(../images/deboucher-ma-plomberie_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-drainpipe {
  background: url(../images/drain-pipe-cleaning_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-vidange-fosse-septique {
  background: url(../images/vidanger-fosse-septique_bg.jpg) center no-repeat;
  background-size: cover;
}
.bg-image-merci {
  background: url(../images/canaclean_merci_bg.jpg) center no-repeat;
  background-size: cover;
}
/*-----------------------Home Bloc----------------------*/
.HomeBloc {
}
.HomeBloc > div {
  background-color: #F2F2F2;
  /*#e6e7e8;
    /*border: 1px solid #e6e7e8;*/
  /*padding-bottom: 10px;*/
  /*opacity: 0.6;*/
}
.HomeBloc > div > p {
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  line-height: 20px;
}
.HomeBloc > div > a {
  /*background-color: #3e3433;*/
  bottom: -1px;
  color: #024D21;
  /*#83ad29; /*#434547;
    height: 50px;*/
  line-height: 34px;
  /* right: -1px;margin-left:30px;*/
  text-align: center;
  display: block;
  font-variant: small-caps !important;
  
}
.HomeBloc > div:hover {
  background-color: #96CA2D;
  color: #FFF;
  /*#e6e7e8; #434547;*/
}
.HomeBloc > div > a:focus, .HomeBloc > div > a:hover {
  background-color: #96CA2D;
  color: #FFF;
}
.HomeBloc h3 {
  background-color: #FFF;
}
.HomeBloc h3:before {
  color: #83AD29;
  content: '\f105';
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  font-weight: bold;
  margin-right: 5px;
  padding-left: 10px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*-----------------HomBlocLarge-hbl-----*/
.hbl {
  background-color: #83AD29;
  color: white;
  font-size: 12px;
}
/* --------------------------------------------------------------------------*/
.bg-image p {
  font-size: 16px;
}
/*==================     Icons     ======================*/
.icon {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 52px;
  text-align: center;
  color: #FFF;
  background: #434547;
  /* #96CA2D; #62bfe6;*/
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.icon:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon2 {
  position: relative;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 34px;
  text-align: center;
  color: #96CA2D;
  background: #4A4C4D;
}
.icon2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*==================    Buttons    ======================*/
.btn, .btn2 {
  display: inline-block;
  /*width: 150px;*/
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover, .btn2:hover {
  background: #96CA2D;
  /*#4ab5e2;*/
}
.btn:active, .btn2:active {
  background: #22A1D7;
}
.btn {
  color: #FFF;
  background: #434547;
  /* #62bfe6; */
}
.btn2 {
  color: #62BFE6;
  background: #EAEAEA;
}
.btn2:hover, .btn2:active {
  color: #FFF;
}
.btn_wr [class*="btn"] {
  padding: 16px 30px;
  display: inline-block;
  width: auto;
}
.btn_wr [class*="btn"] + [class*="btn"] {
  margin-top: 0;
  margin-left: 20px;
}
.btn_wr + .btn_wr {
  margin-top: 20px;
}
section.contact .btn, .btncommand {
  display: inline-block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.contact .btn:hover {
  background: #EDF7F2;
  color: #96CA2D;
}
@media (max-width: 767px) {
  .btn_wr [class*="btn"] {
    width: 100%;
  }
  .btn_wr [class*="btn"] + [class*="btn"] {
    margin-top: 20px;
    margin-left: 0;
  }
}
/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
}
.box_cnt__no-flow {
  overflow: hidden;
}
/*==================     Banner    ======================*/
.banner_wr {
  position: relative;
  min-height: 308px;
}
.banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.banner:before, .banner:after {
  display: table;
  content: "";
  line-height: 0;
}
.banner:after {
  clear: both;
}
.banner li {
  position: relative;
  margin-top: 30px;
  width: 25%;
  height: 358px;
  padding: 25px 29px 20px;
  float: left;
  color: #FFF;
  background: #C0F945;
  /*#62bfe6;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.banner li:hover {
  margin-top: 0px;
  height: 388px;
  padding-bottom: 50px;
  color: #434547;
}
.banner li [class*="fa-"] {
  font-size: 62px;
  line-height: 1;
  color: inherit;
}
.banner li a {
  position: absolute;
  bottom: 26px;
  right: -30px;
}
.banner li a:before {
  font-family: "FontAwesome";
  font-size: 19px;
  line-height: 1;
  color: inherit;
  content: "";
}
.banner li a:hover {
  opacity: 0.7;
}
.banner li:hover a {
  right: 30px;
}
.banner li:nth-child(1) {
  background: #83AD29;
  /*#57aacd;*/
}
.banner li:nth-child(2) {
  background: #96CA2D;
  /*#55b0d6;*/
}
.banner li:nth-child(3) {
  background: #B5E655;
  /*#5bb7de;*/
}
.banner h3 {
  color: #FFF;
}
.banner p {
  line-height: 28px;
  color: #FFF;
}
.banner h3:hover, .banner p:hover {
  color: #434547;
}
.banner [class*="fa-"] + h3 {
  margin-top: 17px;
}
.banner h3 + p {
  margin-top: 13px;
}
@media (max-width: 1199px) {
  .banner {
    position: static;
  }
  .banner li {
    width: 50%;
    margin-top: 0;
  }
  .banner li a {
    right: 30px;
  }
  .banner li:hover {
    height: 358px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .banner li {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .banner li a {
    margin-top: 30px;
    display: inline-block;
    position: static;
  }
  .banner li:hover {
    height: auto;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .banner li {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .banner li a {
    margin-top: 30px;
    display: inline-block;
    position: static;
  }
  .banner li:hover {
    height: auto;
    margin-top: 20px;
  }
}
/*==============      Product List     ==================*/
.product-list li .box:hover .icon {
  background: #83AD29;
  /*#96CA2D; /*#57aacd;*/
}
.product-list li .box_cnt__no-flow {
  padding-left: 30px;
}
.product-list * + hr {
  margin-top: 50px;
}
.product-list hr + * {
  margin-top: 50px;
}
.product-list h3 + p {
  margin-top: 6px;
}
@media (max-width: 767px) {
  .product-list hr {
    display: none;
  }
  .product-list hr + * {
    margin-top: 30px;
  }
  .product-list li .box {
    text-align: center;
  }
  .product-list li .box_aside {
    float: none;
  }
  .product-list li .box_aside .icon {
    display: inline-block;
  }
  .product-list li .box_cnt__no-flow {
    margin-top: 20px;
    padding-left: 0;
  }
}
/*==================    Quote     ======================*/
blockquote .box_cnt__no-flow {
  padding-left: 30px;
}
blockquote p {
  padding-top: 3px;
}
blockquote q:before {
  position: relative;
  top: -2px;
  left: 0;
  padding-right: 7px;
  content: "\f10d";
  color: #62BFE6;
  font-family: "FontAwesome";
  font-size: 34px;
  line-height: 28px;
  vertical-align: top;
  z-index: 10;
}
blockquote cite {
  display: block;
  font-size: 16px;
  color: #62BFE6;
}
blockquote cite a:hover {
  text-decoration: underline;
}
blockquote p + cite {
  margin-top: 8px;
}
@media (min-width: 768px) and (max-width: 979px) {
  blockquote .box_aside {
    width: 100%;
    float: none;
    text-align: center;
  }
  blockquote .box_aside img {
    width: auto;
  }
  blockquote .box_cnt__no-flow {
    margin-top: 30px;
    padding-left: 0;
  }
}
@media (max-width: 479px) {
  blockquote .box_aside {
    width: 100%;
    float: none;
    text-align: center;
  }
  blockquote .box_aside img {
    width: auto;
  }
  blockquote .box_cnt__no-flow {
    margin-top: 30px;
    padding-left: 0;
  }
}
/*==================  Marked List  ======================*/
.marked-list li, .mymarked-list li {
  position: relative;
  padding-left: 41px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #62BFE6;
}
.marked-list li a:before, .mymarked-list li:before {
  content: "\f00c";
  position: absolute;
  left: 0;
  top: 16px;
  font-weight: 400;
  font-size: 22px;
  font-family: "FontAwesome";
}
.marked-list li + li, .mymarked-list li + li {
  margin-top: 0px;
  border-top: 1px solid #E5E5E5;
}
.marked-list a:hover {
  color: #777777;
}
/*==================  Contact List  =====================*/
.contact-list {
  color: #888A8C;
  font-size: 16px;
}
.contact-list .box {
  display: table;
}
.contact-list .box_cnt__no-flow {
  vertical-align: middle;
  display: table-cell;
  padding-left: 30px;
}
.contact-list .box + .box {
  margin-top: 30px;
}
.contact-list a[href^="tel:"], .contact-list a[href^="tel:"] {
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .contact-list a[href^="tel:"], .contact-list a[href^="tel:"] {
    font-size: 18px;
  }
}
.contact-list a:hover {
  color: #62BFE6;
}
.contact-list2 {
  padding-top: 23px;
  padding-bottom: 2px;
}
.contact-list2 h3 {
  color: #42ACDA;
}
.contact-list2 a[href^="tel:"], .contact-list2 a[href^="tel:"] {
  font-size: 24px;
  line-height: 28px;
}
.contact-list2 dd, .contact-list2 dt {
  display: inline-block;
  font-size: 16px;
}
.contact-list2 a + dl {
  margin-top: 9px;
}
/*==================  Marked List  ======================*/
table {
  width: 100%;
  border: 1px solid #E5E5E5;
}
table td {
  border: 1px solid #E5E5E5;
  padding: 15px 20px;
  line-height: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
table td:last-child {
  min-width: 98px;
}
table tr:nth-child(even) {
  background: #F5F5F5;
}
/*==================    Info Box   ======================*/
.info-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 7px;
  padding: 30px 30px 25px;
  color: #FFF;
  background: #57AACD;
}
@media (max-width: 470px) {
  .info-box {
    margin-top: 7px;
    padding: 15px 15px 10px;
  }
  .info-box h2 {
    padding-left: 0 !important;
  }
  .info-box hr {
    padding-bottom: 40px;
  }
}
.info-box dt, .info-box dd {
  display: inline-block;
}
.info-box hr {
  background: #FFF;
}
.info-box [class^="fa-"]:before {
  padding-right: 13px;
  font-size: 54px;
}
/*========= ====== */
.touch:before {
  padding-right: 3%;
  font-size: 1em;
}
/* ================*/
.info-box h2 {
  color: #FFF;
  position: relative;
  padding-left: 65px;
}
.info-box h2:before {
  position: absolute;
  left: 0;
}
.info-box h3 {
  color: #FFF;
}
.info-box h2 + hr {
  margin-top: 26px;
}
.info-box * + h3 {
  margin-top: 18px;
}
.info-box h3 + dl {
  margin-top: 4px;
}
.info-box dl + hr {
  margin-top: 25px;
}
/*==================     Info     ======================*/
.info dt {
  font-size: 24px;
  color: #434547;
}
.info dt + dd {
  margin-top: 17px;
}
.info dd + dt {
  margin-top: 15px;
}
/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block;
}
.sf-menu:before, .sf-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
  font:capitalize;
}
.sf-menu a {
  display: block;
}
.sf-menu > li > a {
  padding: 22px 30px;
  color: #FFF;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  /*border-right: 1px solid #56585a;*/
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #434547;
  /*#fff;*/
  background: #B5E655;
  /*#5ab7de;*/
  /* border-right: 1px solid #B5E655; /*#4bb0db;*/
}
.sf-menu > li.active > a:active {
  color: #434547;
  /*#fff;*/
  background: #B5E655;
  /*#5ab7de;*/
  /*border-right: 1px solid #B5E655; /*#4bb0db;*/
}
.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 235px;
  background: #F5F5F5;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-menu ul > li {
  position: relative;
}
.sf-menu ul > li > a {
  font-size: 12px;
  padding: 11px 31px;
  color: #434547;
  /* #62bfe6;*/
  background: #F5F5F5;
  text-transform: uppercase;
  line-height: 12px !important;
}
.sf-menu ul > li > li {
  border-top: 1px solid #B5E655;
  /*#5ab7de;*/
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #024D21;
  /*#777777;*/
  background: #B5E655;
}
.sf-menu ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 235px;
  margin-top: 0;
  margin-left: 10px;
  padding: 0;
  z-index: 4;
}
.sf-menu > li > ul > li > .sf-with-ul {
  position: relative;
}
.sf-menu > li > ul > li > .sf-with-ul:before {
  position: absolute;
  right: 19px;
  top: 0;
  margin-left: -6px;
  content: "";
  font: 400 16px / 50px "FontAwesome";
  color: #62BFE6;
}
@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: right;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
  text-align: right;
}
.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 50px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #F5F5F5;
  color: #2D2D2D;
}
.rd-mobilemenu_ul a:hover {
  background: #62BFE6;
  color: #FFF;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px "FontAwesome";
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #FFF;
  color: #666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}
.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}
.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  /*right: 56px;*/
  color: #000;
  font-size: 20px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}
.rd-mobilepanel_title span {
  font-size: 18px;
}
.rd-mobilepanel_toggle {
  /* position: fixed; */
  float: right;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}
@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }
  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/*==================  Stuck menu  ======================*/
.stuck_container {
  margin-top: 22px;
  background: #96CA2D;
  /*#B5E655 vertclair; /*#434547;*/
}
.isStuck {
  margin-top: 0;
  z-index: 9999;
  /*border-bottom: 1px solid #888;*/
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*==================     ToTop     ======================*/
.toTop {
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  color: #FFF;
  background: #888;
  position: fixed;
  right: 66px;
  bottom: 180px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #FFF;
  background: #96CA2D;
  /*#62bfe6;*/
  text-decoration: none;
}
@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
.primary {
  color: #62BFE6;
}
/*========================================================
					 HEADER  Section
=========================================================*/
header {
  padding-top: 24px;
  background: #FFF;
}
header .brand {
  float: left;
}
/*-------------+stdbbl----------------------------*/
.brandtoo {
  float: right;
  display: block;
  color: #FFF;
}
ul.brandtoo li.brandtoo {
  display: inline;
  float: left;
}
.brandtoo > li {
  padding: 5px 10px;
  display: inline-block;
  margin-right: 2px;
  background-color: #96CA2D;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: initial;
  font-weight: bold;
}
.brandtoo > li > a > i {
  display: block;
  font-size: 3em;
  width: 100%;
}
.brandtoo > li > a {
  padding-top: 10px;
}
.brandtoo > li > a:hover {
  color: #434547;
}
.brandtoo > li.db-big {
  margin-right: 0;
  /*color:#EDF7F2; #69ACD7*/
  width: 240px;
  background-color: #434547;
  /* #4BB5C1; /*#434547;*/
  text-align: left;
}
.brandtoo > li.db-big > a:hover {
  color: #FFF;
}
.brandtoo > li.db-big > span > span.txt1 {
  color: #3E3433;
  display: block;
  font-weight: 500;
  line-height: 1.3em;
}
.brandtoo > li.db-big > span > span.txt2 {
  margin-bottom: 6px;
}
.brandtoo > li.db-big > span > span.txt3 {
  font-size: 19px;
  font-weight: bold;
}
.brandtoo > li.db-big > a > i {
  float: left;
  margin: 15px 10px;
  height: 70px;
  width: auto;
  
}
@media (min-width: 300px) and (max-width: 470px) {
  header {
    padding-top: 0;
  }
  .row {
    margin-top: 5%;
  }
  .rd-mobilepanel .rd-mobilepanel_title {
    font-size: 14px;
  }
  div#stuck2 {
    /*width:100% !important;*/
  }
  .brand {
    display: none;
  }
  .brandtoo {
    float: right;
    display: block;
    color: #FFF;
    /*margin-top: 10px;*/
    position: fixed;
    z-index: 10000;
    margin-left: 5%;
    margin-top: -11%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid #AED4C9;
  }
  .inpErr .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #96CA2D;
    position: absolute;
    z-index: 1;
    top: -13px;
    display: none;
  }
  ul.brandtoo li.brandtoo {
    display: inline;
    float: left;
  }
  .brandtoo > ul {
    background-color: #FFF;
    width: 100% !important;
    margin-left: -10%;
  }
  .brandtoo > li {
    margin-right: 2px;
    /*margin-top:2px;*/
    height: 60px;
    width: 65px;
  }
  .brandtoo > li > a > i {
    display: block;
    font-size: 2em;
    width: 100%;
  }
  .brandtoo > li > a > i.big {
    font-size: 4em;
  }
  .brandtoo > li > a {
    /*padding-top:10px;*/
  }
  .brandtoo > li > a:hover {
    color: #434547;
  }
  .brandtoo > li > a > span.txtsmll {
    display: none;
  }
  .brandtoo > li.db-big {
    display: none;
    margin-right: 0;
    color: #69ACD7;
    width: 60px;
    background-color: #434547;
    text-align: left;
    height: 80px !important;
  }
  .brandtoo > li.db-big > a:hover {
    color: #FFF;
  }
  .brandtoo > li.db-big > span > span.txt1 {
    color: #3E3433;
    display: block;
    font-weight: 500;
    line-height: 1.3em;
  }
  .brandtoo > li.db-big > span > span.txt2 {
    margin-bottom: 6px;
  }
  .brandtoo > li.db-big > span > span.txt3 {
    font-size: 19px;
    font-weight: bold;
  }
  .brandtoo > li.db-big > a > i {
    float: left;
    margin: 15px 10px;
    height: 70px;
    /*width: auto;*/
  }
  /* ================================================================
  	Module vente online step1, step2, step3, step4, step5, step6
  ===================================================================	*/
  #print h3 {
    font-size: 16px !important;
    font-weight: semi-bold;
    line-height: 16px;
  }
  #print h2 {
    padding-top: 20px;
    font-size: 24px !important;
  }
  #print.section_bloc {
    padding: 29px;
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: #F6F6F6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 17px;
  }
  #print.ntmmmmmmmmm  {
    background-color: #F9F9F9;
    margin-bottom: 20px;
    padding: 30px;
  }
  div.presta {
    background-color: #F9F9F9;
    margin-bottom: 20px !important;
    padding: 3px !important;
  }
  .info {
    margin-left: 5px;
    width: auto;
    height: auto !important;
    line-height: 1;
    padding-left: 15px;
    box-sizing: border-box;
    transition: 0.3s ease-out;
    padding: 5px;
    color: #AEAEA3;
    margin-bottom: 10px;
  }
  section.tarifs > section.prestation > h2 {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: 0px !important;
    font-variant: small-caps !important;
  }
  .tarif-prixht {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 359px) {
  header {
    padding-top: 0;
  }
  .rd-mobilepanel .rd-mobilepanel_title {
    font-size: 85%;
  }
  .row {
    margin-top: 5%;
  }
  div#stuck2 {
    /*width:100% !important;*/
  }
  .brand {
    display: none;
  }
  .brandtoo {
    float: right;
    display: block;
    color: #FFF;
    /*margin-top: -28px;*/
    position: fixed;
    z-index: 10000;
    margin-left: 5%;
    padding-bottom: 4px;
  }
  ul.brandtoo li.brandtoo {
    display: inline;
    float: left;
  }
  .brandtoo > ul {
    background-color: #FFF;
    width: 100% !important;
    margin-left: -10%;
  }
  .brandtoo > li {
    margin-right: 2px;
    /*margin-top:2px;*/
    height: 60px;
    width: 50px;
  }
  .brandtoo > li > a > i {
    display: block;
    font-size: 2em;
    width: 100%;
  }
  .brandtoo > li > a > i.big {
    font-size: 4em;
  }
  .brandtoo > li > a {
    /*padding-top:10px;*/
  }
  .brandtoo > li > a:hover {
    color: #434547;
  }
  .brandtoo > li > a > span.txtsmll {
    display: none;
  }
  .brandtoo > li.db-big {
    display: none;
  }
  .brandtoo > li.db-big > a:hover {
    color: #FFF;
  }
  .brandtoo > li.db-big > span > span.txt1 {
    color: #3E3433;
    display: block;
    font-weight: 500;
    line-height: 1.3em;
  }
  .brandtoo > li.db-big > span > span.txt2 {
    margin-bottom: 6px;
  }
  .brandtoo > li.db-big > span > span.txt3 {
    font-size: 19px;
    font-weight: bold;
  }
  .brandtoo > li.db-big > a > i {
    float: left;
    margin: 15px 10px;
    height: 70px;
    /*width: auto;*/
  }
}
@media screen and (min-width: 500px) {
}
/*-----------------------------------------*/
/*header a[href^="tel:"],*/
header .container > p {
  clear: right;
  float: right;
}
/*header a[href^="tel:"] {

  text-align:center;

  margin-top: 7px;
  position: relative;
  color: #777777;font-size: 24px;

  }*/
/*header a[href^="tel:"]:before {
  position: absolute;
  top: -4px;
  left: -44px;
  font-size: 34px;
  color: #6bc7ed;
}*/
/*header a[href^="tel:"]:hover {
  color: map;
}*/
/*header a[href^="tel:"] + p {
  margin-top: 7px;
}*/
/*@media (max-width: 979px) {
  header {
    text-align: center;
  }
  header .brand, header a[href^="tel:"], header .container > p {
    float: none;
  }
  header .brand {
    display: block;
  }
  header .brand_slogan {
    padding-left: 0;
  }
  header a[href^="tel:"] {
    display: inline-block;
    margin-top: 20px;
  }
}*/
@media (max-width: 767px) {
  header {
    text-align: center;
  }
}
/*========================================================
					 CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #FFF;
}
main .container.hr {
  padding-bottom: 50px;
}
main p + a[href^="mailto:"] {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  color: #62BFE6;
}
main p + a[href^="mailto:"]:hover {
  text-decoration: underline;
}
a[href^="tel:"]:hover, a[href^="tel:"]:hover {
  color: #434547;
}
.video {
  position: relative;
  width: 100%;
  padding-bottom: 69%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*==================      Well     ======================*/
.well {
  padding-top: 50px;
  padding-bottom: 50px;
}
.well1 {
  padding-top: 32px;
  padding-bottom: 60px;
}
.well2 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.well3 {
  padding-top: 59px;
  padding-bottom: 61px;
}
.ins1 {
  padding-bottom: 0;
}
.ins2 {
  padding-bottom: 52px;
}
.ins3 {
  padding-bottom: 43px;
}
.ins4 {
  padding-bottom: 20px;
}
.ins5 {
  padding-top: 44px;
}
/*========================================================
					 FOOTER  Styles
=========================================================*/
footer {
  /*color: #888a8c;*/
  background: #F5F5F5;
  /*#434547;*/
  border-top: 2px solid #96CA2D;
}
footer section + section .container {
  border-top: 1px solid #888A8C;
}
footer .copyright {
  padding-top: 21px;
  padding-bottom: 55px;
}
footer .copyright a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  footer .copyright {
    text-align: center;
  }
}
/*========================================================
					bouton phone
=========================================================*/
.btpho {
  float: right;
  color: white !important;
}
@media (max-width: 470px) {
  .btn {
    /*width:47%;*/
    padding: 13px;
    font-size: 13px;
    line-height: 20px;
  }
  .clog {
    clear: both;
  }
}
/*========================================================
					info sur map google
=========================================================*/
.infonmap {
  position: relative;
  width: 100%;
}
.infonmap > .infmap {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
