.infonmap {
    position: relative;
    width: 100%
}

@media (min-width: 768px) {
     .infonmap {
        height: 500px;
        padding: 25px 0
    }
}

@media (min-width: 768px) {
     .infonmap>.infmap {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0
    }
}

 .infonmap>.infmap #google-map {
    height: 400px;
    width: 100%
}

@media (min-width: 768px) {
     .infonmap>.infmap #google-map {
        height: 500px
    }
}

 .infonmap .p-a-map-box {
    padding-bottom: 15px;
    padding-top: 15px
}

@media (min-width: 768px) {
     .infonmap .p-a-map-box {
        background-color: #fff;
        border: 1px solid #f5f5f5;
        height: 100%;
        overflow: auto;
        padding: 20px
    }
}

 .infonmap .p-a-map-box>h4 {
    margin-bottom: 20px
}

 .infonmap .p-a-map-box>p {
    margin-bottom: 20px
}

 .infonmap .p-a-map-box>div {
    padding-top: 20px
}
